html, body {

  height: 100%;
  margin: 0 auto;

}


#background1 {

  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

}


#message {

  text-transform: uppercase;
  font-size: 54px;
  width: 900px;
  margin: 20% auto;
  text-align: center;

}
