<%- include('partials/header')  %>

    <form action="/locationSearch" method="get">
      <label>Enter Location
        <input type="search" name="locale" id="location" placeholder="Enter your location" autocomplete="off" autofocus>
      </label>
      <button>Submit</button>
    </form>
    
<%- include('partials/footer')  %>
