<%- include('partials/header')  %>

    <div class="container">
      <h1 id="home-page-header">Find a food place near you!</h1>

      <form action="/locationSearch" method="get">

	<label for="location"><h5>Enter Location</h5></label><br>
	<input type="search" name="locale" id="location" placeholder="Enter your location" autocomplete="off" autofocus><br>

	<button class="btn btn-lg btn-primary mt-3" type="submit">Submit</button>
      </form>
    </div>
    
<%- include('partials/footer')  %>
