<%- include('partials/header')  %> 

    <div class="innercaption">
      <p >
	IN THE MOOD TO CATCH A FLICK?  SEE WHAT MOVIES ARE PLAYING NOW! 
      </p>
      <a href="/current"><button type="button" class="btn btn-warning border border-warning btn-lg text-white">Show me a list of Movies!</button></a>
    </div>

<%- include('partials/footer')  %> 
