<%- include('partials/header')  %>

<div class="container-sm border border-dark" >
  <form action="/getData" method="GET">
  <h1 class="display-4">Mock-up Giphy</h1>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Enter Search Term</span>
    <input type="text" name="searchData" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>


  <input id="btn" type="submit" />
  </form>
</div>



<%- include('partials/footer')  %>

