html, body {

  height: 100%;

}


#home-page-header {

  margin-top: 10%;

}


#the-footer {

  margin-top: 10%;
  margin-bottom: 10%;
  border: 1px solid grey;
  padding: 8px;

}


#results-header {

  margin-top: 5%;

}


#results-entry {

  background-color: #b0eaf7;
  color: #0a6bab;
  font-size: 2.5vh;

}


#search-again {

  color: #0a6bab;

}
